{% for i in  nodes_list  %}
  {{ i }}:

xpack.security.enabled: ${XPACK_SECURITY_ENABLED}
node.name: ${NODE_NAME}
cluster.name: ${CLUSTER_NAME}
discovery.seed_hosts: ${DISCOVERY_SEED_HOSTS}
cluster.initial_master_nodes: ${CLUSTER_INITIAL_MASTER_NODES}
bootstrap.memory_lock: ${BOOTSTRAP_MEMORY_LOCK}
network.host: ${NETWORK_HOST}
http.port: ${HTTP_PORT}
#xpack.security.enabled: true

{% if i == 'master' %}

xpack.security.http.ssl.enabled: true
xpack.security.http.ssl.key: certs/{{ i }}/{{ i }}.key
xpack.security.http.ssl.certificate: certs/{{ i }}/{{ i }}.crt
xpack.security.http.ssl.certificate_authorities: certs/ca/ca.crt
xpack.security.http.ssl.verification_mode: certificate
xpack.security.transport.ssl.enabled: true
xpack.security.transport.ssl.key: certs/{{ i }}/{{ i }}.key
xpack.security.transport.ssl.certificate: certs/{{ i }}/{{ i }}.crt
xpack.security.transport.ssl.certificate_authorities: certs/ca/ca.crt
xpack.security.transport.ssl.verification_mode: certificate
xpack.license.self_generated.type: trial


 {% endif %}



{% if i == 'node1' %}

xpack.security.http.ssl.enabled: true
xpack.security.http.ssl.key: certs/{{ i }}/{{ i }}.key
xpack.security.http.ssl.certificate: certs/{{ i }}/{{ i }}.crt
xpack.security.http.ssl.certificate_authorities: certs/ca/ca.crt
xpack.security.http.ssl.verification_mode: certificate
xpack.security.transport.ssl.enabled: true
xpack.security.transport.ssl.key: certs/{{ i }}/{{ i }}.key
xpack.security.transport.ssl.certificate: certs/{{ i }}/{{ i }}.crt
xpack.security.transport.ssl.certificate_authorities: certs/ca/ca.crt
xpack.security.transport.ssl.verification_mode: certificate
xpack.license.self_generated.type: trial

 {% endif %}


{% if i == 'node2' %}

xpack.security.http.ssl.enabled: true
xpack.security.http.ssl.key: certs/{{ i }}/{{ i }}.key
xpack.security.http.ssl.certificate: certs/{{ i }}/{{ i }}.crt
xpack.security.http.ssl.certificate_authorities: certs/ca/ca.crt
xpack.security.http.ssl.verification_mode: certificate
xpack.security.transport.ssl.enabled: true
xpack.security.transport.ssl.key: certs/{{ i }}/{{ i }}.key
xpack.security.transport.ssl.certificate: certs/{{ i }}/{{ i }}.crt
xpack.security.transport.ssl.certificate_authorities: certs/ca/ca.crt
xpack.security.transport.ssl.verification_mode: certificate
xpack.license.self_generated.type: trial

 {% endif %}




{% endfor %}

